<configuration debug="false">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<!-- pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern -->
			<pattern>%-5p|%-30.30c| #%L - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="org.apache" level="INFO"/>

	<logger name="ch.srsx" level="DEBUG"/>
	
	<logger name="com.ibm.datapower.wamt" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.amp" level="INFO"/>
	
	<!-- 
	<logger name="com.ibm.datapower.wamt.AbstractFactory" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.AbstractPackageINFO" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.ComponentINFO" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.Constants" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.Credential" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.DeviceLogger_ClientThread" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.DeviceLogger" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.DeviceType" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.DMgrException" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.Messages" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.ModelType" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.OperationStatus" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.PackageINFO" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.StringCollection" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.defaultProvider" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.defaultV2Provider" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.dataAPI" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.dataAPI.local.filesystem" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.clientAPI" level="INFO"/>
	<logger name="com.ibm.datapower.wamt.clientAPI.Manager" level="INFO"/>
	 -->

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>